hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

.lista-rodape__item:hover {
    transform: scale(1.05);
    transition: 0.3s all;
    filter: opacity(95%) grayscale(0);
}

@media screen and (min-width:1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
        filter: opacity(100%) grayscale(100%);
    }

    .lista-rodape__link {
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza);
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width:1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}