@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(topicos.css);
@import url(contato.css);
@import url(rodape.css);

:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #eb9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul-hover: #164261;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --azul: #002f52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background-color: white;
}